
/* Work Experience */
.experience{
  margin: auto;
}
.timeline {
    position: relative;
    width: 85%;
    margin: 60px auto;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed;
    border-image: linear-gradient(#fff400, #ffa601 ,#f3503c, #d53567, #A7489B);
    border-image-slice: 1;
    height: 86%;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    /* image-background: linear-gradient(#fff400, #ffa601 ,#f3503c, #d53567, #A7489B); */
    color: #fff;
    text-shadow: 0px 4px 16px rgba(255,255,255,.8);
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    background: linear-gradient(45deg, #fff400 25%, #ffa601,#f3503c, #d53567);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-weight: 600; */
    font-size: 1.2rem;
}

.experience-duration {
    font-weight: 100;
    color: lightgrey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}



.mb75px {
    margin-bottom: 75px;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    text-align: center;
}

.expEdu-title{
  position: relative;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.expEdu-title::after{
  position: absolute;
  content: "";
  width: 170px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  border-bottom: 3px solid ;
  border-image: linear-gradient(45deg, #fff400, #ffa601 ,#f3503c, #d53567, #A7489B);
  border-image-slice: 1;
}
